<h1>Create a New Post:</h1>
<form method="POST" action="/posts">
    <label for="cname">Company Name:</lable><br>
    <input type="text" id="cname"name="companyname" required><br><br>

    <label for="ptitle">Position Title:</label><br>
    <input type="text" name="positiontitle" required><br><br>

    <label for="dapplied">Date Applied:</label><br>
    <input type="text" id="dapplied"name="dateapplied"><br><br>

    <label for="description">Job Description</label><br>
    <textarea id="description" name="description"></textarea><br><br>
    <input type="submit" name="submit">
</form>