<h1>Welcome to Job Journal!</h1><br>
<img src="https://pixabay.com/images/id-3240764//" alt="Desk with Journal and Laptop">
<p>This application will help you keep track of all your job applications in the future. <br> 
Please choose one of the following to get started:</p><br>
<a href="/signup"><button>Sign Up</button></a> <a href="/login"><button>Login</button></a>