<h1 style="margin-left: 240px">Welcome to Job Journal!</h1><br>
<img src="https://cdn.pixabay.com/photo/2018/03/19/18/20/wood-3240764_960_720.jpg" alt="Desk with Journal and Laptop" width="480" height="320" style="vertical-align:middle;margin:5px 240px">
<p style="margin: 0px 80px">This space is a digital journal to keep track of all your job applications.</p><br> 
<p style="margin: 0px 200px">Please choose one of the following to get started:</p><br>
<a href="/signup" style="margin:5px 20px 5px 400px"><button>Sign Up</button></a> <a href="/login" style="margin:5px 0px"><button>Login</button></a>