<h1>Welcome to Job Journal!</h1><br>
<img src="https://cdn.pixabay.com/photo/2018/03/19/18/20/wood-3240764_960_720.jpg" alt="Desk with Journal and Laptop" width="480" height="320">
<p>This application will help you keep track of all your job applications in the future. <br> 
Please choose one of the following to get started:</p><br>
<a href="/signup"><button>Sign Up</button></a> <a href="/login"><button>Login</button></a>