<h1>Please Fill Out the Below to Login!</h1>

<form method="POST" action="/login">
    Username: <input type="text" id="username" name="username" required>
    Password: <input type="text" id="password" name="password" required>
    <input type="submit" id="submit" value="Submit">
</form>