<h1>Fill Out the Below to Login!</h1><br><br>

<form method="POST" action="/login">
    Username: <input type="text"  name="username" required>
    Password: <input type="text"  name="password" required>
    <input type="submit" value="Submit">
</form><br><br>

<p>Don't have an account? <a href="/signup">Sign Up Here!</a><p> 