<h1>Welcome to Job Journal</h1><br><br>
<h3>Please fill out the below information to get started:</h3><br><br>
<form method="POST" action="/signup">
    Username: <input type="text" id="username" name="username" value="<%=@user && @user.username%>"required>
    Email: <input type="text" id="email" name="email" required>
    Password: <input type="text" id="password" name="password" required>
    <input type="submit" value="Sign Up!">
</form>
<br><br>
<a href="/login">Already have an account? Login here!</a> 